{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Vote</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/Accounts/Vote.css' %}">

  <link rel="icon" type="image/x-icon" href="{% static '/images/Logo/Faveicon.png' %}">

  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

</head>

<body>

  <main>
    <section class="Opinion">
      <form action="{% url 'Accounts:Vote' user.user_id %}" method="POST">
        {% csrf_token %}

        <img src="{% static 'images/Vote/Opinion.jpg' %}" alt="Give Us your opinion">
        {% if Avatar is not none %}

        <div class="username"><img src="{{ Avatar }}" alt="profile">
          {{ username }}</div>

        {% elif Avatar is none %}

        <div class="username"><img src="{% static '/images/Logo/Luffy.jpg' %}" alt="profile">
          {{ username }}</div>

        {% else %}

        <div class="username"><iconify-icon icon="akar-icons:person"></iconify-icon>
          {{ username }}</div>

        {% endif %}

        <a href="{% url 'Service:Home' user.user_id %}#Categories">
          <iconify-icon icon="bi:arrow-left-circle-fill" width='70' height='50'></iconify-icon>
        </a>

        <div class="typing">
          <div class="title">
            <h1>Hey {{ username }}...!</h1>
            <h4>participated in the development of the site and the class</h4>
          </div>
          <img src="{% static 'images/Graphic/Opinion-arrow.png' %}" alt="arrow" id="arrow">
          <textarea type="textarea" contenteditable="true" placeholder="write here ..." name="opinion"></textarea>
          <div class="alert">
            <p>All opinions and ideas will be shown every Monday</p>
            <button type="submit"><iconify-icon icon="bxl:telegram" style="color: white;"></iconify-icon>
              Send</button>
          </div>
        </div>
      </form>
    </section>

  </main>

</body>

</html>