@import url('http://fonts.cdnfonts.com/css/k2d');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  overflow:hidden;
  scroll-behavior: smooth;
  width:100%;

} 

body{
  font-family: 'K2D', sans-serif;
}

.container{
  width: 100%;
  
}



.content{
  display: table;
  margin: auto;
  display: flex;
  width: 20%;
  padding: 0;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 50px;
}

.Formclass{
  background-color: azure;
}

.alertInfo{
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.alertInfo p{
  font-size: 12px;
}


.signup{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;

}

.signup input{
  width: 100%;
}